# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# my stuff
key
credentials.json
token.json
quickstart.py
classes.ipynb
**.log
json_prac/
tools/cloud-infra/s3/*.csv
tools/apis-integrations/twitter/*.yaml
**.xlsx
**.json
**.ndjson
**.csv
sql_transfer/
languages/sql/tables/*
tools/data-eng/liquibase/*.properties
tools/cloud-infra/localstack/volume/
languages/sql/audit.txt
tools/data-eng/duck_db/nba_duck_db
tools/data-eng/metabase/metabase/*
*secret.json*
software_dev/nba_project.md
tools/data-eng/trino/config.properties
tools/data-eng/trino/etc/catalog/iceberg.properties
tools/data-eng/trino/etc/catalog/postgres.properties
software_dev/star_talking_points.md
software_dev/investing.md
tools/data-eng/duck_db/*.wal
tools/data-eng/duck_db/data_extraction
tools/data-eng/duck_db/nba_v2
interviews/**
tools/python-concepts/data/*.parquet
tools/python-concepts/data/*.csv
software_dev/move.md
software_dev/car_insurance.md
**.zip
**gambling.md
notes/private/**
*tables*
**.vortex
system_design/cases/**example**
*.pkl
notes/cooking/**
!tools/python-concepts/opencode/.opencode.json
.github/.SKILLS/
.codex
*.xpi
notes/review/*/**
projects/job_tracker/
system_design/cases/jellyfish.md
notes/politics/**