[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
nltk = "*"
boto3 = "*"
awswrangler = "*"
bump2version = "*"
gspread = "*"
tweepy = "*"
sentry-sdk = "*"
faker = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
azure-storage-blob = "*"
polars = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
moto = "*"
ipykernel = "*"

[requires]
python_version = "3.9"
