[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
nltk = "*"
boto3 = "*"
awswrangler = "*"
bump2version = "*"
gspread = "*"
sentry-sdk = "*"
faker = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
polars = "*"
duckdb = "*"
jupyter-console = "*"
jupyter = "*"
jyablonski-common-modules = {extras = ["es_logging"], version = "*"}
opensearch-logger = "*"
thefuzz = "*"
better-profanity = "==0.6.1"

[dev-packages]
pytest = "*"
pytest-mock = "*"
moto = "*"
ipykernel = "*"

[requires]
python_version = "3.11"
