[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
nest_asyncio = "*"
twint = {git = "https://github.com/Museum-Barberini/twint.git"}
nltk = "*"
python-twitter = "*"
python-twitter-v2 = "*"
boto3 = "*"
awswrangler = "*"
bump2version = "*"
slack-sdk = "*"
gspread = "*"
tweepy = "*"
sentry-sdk = "*"
flatterer = "*"
pdftotext = "*"
elasticsearch = "*"
searchtweets-v2 = "*"

[dev-packages]

[requires]
python_version = "3.8"
